<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashion</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <style>
        #lblCartCount {
            font-size: 12px;
            background: #ff0000;
            color: #fff;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -10px;
        }
        .badge {
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }
        .label-warning[href],.badge-warning[href] {
            background-color: #c67605;
        }
        .name-login:hover{
            color: white!important;
        }
        .add-cart{
            color: white!important;
            background-color: #e53637;
            width: 100px;
            text-align: center;
        }
        .product__item:hover .product__item__text h6{
            opacity: 1!important;
        }
        .product__item:hover .product__item__text a{
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 3px;
            padding:4px;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
<!--    <div id="preloder">-->
<!--        <div class="loader"></div>-->
<!--    </div>-->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a th:href="@{manager}">Đăng nhập</a>
                <a href="#">Giải đáp thắc mắc</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>VND <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>VND</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-7">
                    </div>
                    <div class="col-lg-7 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a  th:href="@{manager}" th:if="${session.roles.contains('ADMIN')}">
                                    <i class="fa-solid fa-wrench"></i>
                                    Trang quản trị</a>
                                <span style="margin-right: 5px">
                                <i class="fa-solid fa-user" style="color: white"></i>
                                </span>
                                <a th:href="@{login}" th:if="${session.customer == null}">
<!--                                    <i class="fa-solid fa-user"></i>-->
                                    Đăng nhập</a>
                                <a th:href="@{user-details}" class="name-login" style="text-decoration: none" th:if="${session.customer != null}" th:text="${session.customer.username}"></a>
                                <a href="#">
                                    <i class="fa-regular fa-circle-question"></i>
                                    FAQs</a>
                                <a th:href="@{logout}" th:if="${session.customer != null}">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Logout</a>
                            </div>
<!--                            <div class="header__top__hover">-->
<!--                                <span>VND <i class="arrow_carrot-down"></i></span>-->
<!--                                <ul>-->
<!--                                    <li>VND</li>-->
<!--                                    <li>EUR</li>-->
<!--                                    <li>USD</li>-->
<!--                                </ul>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a th:href="@{index}"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a th:href="@{index}">Home</a></li>
                            <li><a th:href="@{shop}">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a th:href="@{about_us}">About Us</a></li>
                                    <li><a th:href="@{shopping_cart}">Shopping Cart</a></li>
                                    <li><a th:href="@{blog_details}">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{blog}">Blog</a></li>
                            <li><a th:href="@{contact}">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
                        <a th:href="@{getsession}">
                            <i class="fa" style="font-size:20px;color: black">&#xf07a;</i>
                            <span style="left: 29px;top: -7px;padding: 1px 4px;" class='badge badge-warning' id='lblCartCount' th:text="${session.count.size()}"></span>
                        </a>
                        <!--                        <span class='badge badge-warning' id='lblCartCount' th:text="${session.count.size()}"> </span>-->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>Một nhãn hiệu chuyên nghiệp tạo ra những thứ thiết yếu sang trọng. Được chế tác một cách có đạo đức với cam kết vững chắc về chất lượng vượt trội.</p>
                                <a th:href="@{shop}" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>Một nhãn hiệu chuyên nghiệp tạo ra những thứ thiết yếu sang trọng. Được chế tác một cách có đạo đức với cam kết vững chắc về chất lượng vượt trội.</p>
                                <a th:href="@{shop}" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="/static/img/banner/banner-1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Clothing Collections 2030</h2>
                            <a th:href="@{shop}">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="/static/img/banner/banner-2.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Accessories</h2>
                            <a th:href="@{shop}">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="/static/img/banner/banner-3.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Shoes Spring 2030</h2>
                            <a th:href="@{shop}">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix" th:each="product:${productBS}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${product.img}">
                            <a class="details-product" th:href="@{'shop_details?id='+ ${product.id}}">
                                <span class="label" th:text="${product.status.name}"></span>
                                <ul class="product__hover">
                                    <li><a href="#"><img src="/static/img/icon/heart.png" alt="">
                                        <span>Yêu thích</span></a></li>
                                    <li><a th:href="@{'shop_details?id='+ ${product.id}}"><img src="/static/img/icon/search.png" alt="">
                                        <span>Chi tiết</span></a></li>
                                </ul>
                            </a>
                        </div>
                        <div class="product__item__text">
                            <h6 th:text="${product.name}"></h6>
                            <a th:href="@{'shop_details?id='+ ${product.id}}" class="add-cart">+ Mua ngay</a>
                            <span class="product-price" style="font-size:16px; font-weight:bold" th:text="${product.price}+' VND'"></span>
                            <span class="product-old-price" style="font-size:14px; text-decoration: line-through; color:#808080" th:if="${product.old_price != 0}" th:text="${product.old_price}+' VND'"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 hot-sales mix" th:each="product: ${productHS}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${product.img}">
                            <a class="details-product" th:href="@{'shop_details?id='+ ${product.id}}">
                                <span class="label" th:text="${product.status.name}"></span>
                                <ul class="product__hover">
                                    <li><a href="#"><img src="/static/img/icon/heart.png" alt="">
                                        <span>Yêu thích</span></a></li>
                                    <li><a th:href="@{'shop_details?id='+ ${product.id}}"><img src="/static/img/icon/search.png" alt="">
                                        <span>Chi tiết</span></a></li>
                                </ul>
                            </a>
                        </div>
                        <div class="product__item__text">
                            <h6 th:text="${product.name}"></h6>
                            <a th:href="@{'shop_details?id='+ ${product.id}}" class="add-cart">+ Mua ngay</a>
                            <span class="product-price" style="font-size:16px; font-weight:bold" th:text="${product.price}+' VND'"></span>
                            <span class="product-old-price" style="font-size:14px; text-decoration: line-through; color:#808080" th:if="${product.old_price != 0}" th:text="${product.old_price}+' VND'"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 new-arrivals mix" th:each="product: ${productNA}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${product.img}">
                            <a class="details-product" th:href="@{'shop_details?id='+ ${product.id}}">
                                <span class="label" th:text="${product.status.name}"></span>
                                <ul class="product__hover">
                                    <li><a href="#"><img src="/static/img/icon/heart.png" alt="">
                                        <span>Yêu thích</span></a></li>
                                    <li><a th:href="@{'shop_details?id='+ ${product.id}}"><img src="/static/img/icon/search.png" alt="">
                                        <span>Chi tiết</span></a></li>
                                </ul>
                            </a>
                        </div>
                        <div class="product__item__text">
                            <h6 th:text="${product.name}"></h6>
                            <a th:href="@{'shop_details?id='+ ${product.id}}" class="add-cart">+ Mua ngay</a>
                            <span class="product-price" style="font-size:16px; font-weight:bold" th:text="${product.price}+' VND'"></span>
                            <span class="product-old-price" style="font-size:14px; text-decoration: line-through; color:#808080" th:if="${product.old_price != 0}" th:text="${product.old_price}+' VND'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="/static/img/product-sale.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>$29.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="/static/img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/static/img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/static/img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/static/img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/static/img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="/static/img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#Male_Fashion</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/static/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/static/img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/static/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/static/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="/static/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="/static/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/static/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                        <a href="#"><img src="/static/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Sản phẩm</h6>
                        <ul>
                            <li><a href="#">Cửa hàng quần áo</a></li>
                            <li><a href="#">Xu hướng</a></li>
                            <li><a href="#">Phụ kiện</a></li>
                            <li><a href="#">Doanh thu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Hỗ trợ</h6>
                        <ul>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Vận chuyển</a></li>
                            <li><a href="#">Trả lại và trao đổi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Đăng kí theo dõi</h6>
                        <div class="footer__newslatter">
                            <p>Hãy là người đầu tiên biết về những người mới đến, sách tìm kiếm, bán hàng và khuyến mãi!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
<script>
    $('.product__item__pic').click(function() {
        let links = $(this).find('.details-product').attr('href');
        window.location.href = links;
    });
</script>
    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>