<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="/static/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="/static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/static/plugins/jqvmap/jqvmap.min.css">
  <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="/static/plugins/summernote/summernote-bs4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <style>
    .color-samples {
      display: flex;
      justify-content: center;
    }
    .color-sample {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border: 1px solid #ccc;
    }
    .item-options {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .item-option {
      width: 35px;
      height: 35px;
      margin: 5px;
      border: 1px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .size-option.selected {
      background-color: #333;
      color: #fff;
    }
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <!--  <div class="preloader flex-column justify-content-center align-items-center">-->
  <!--    <img class="animation__shake" src="/static/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">-->
  <!--  </div>-->

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{index}" class="brand-link">
      <img src="/static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://thespiritofsaigon.net/wp-content/uploads/2022/10/avatar-vo-danh-11.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a th:href="@{index}" class="d-block">Williams Marcus</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Quản lý
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{manager}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Product</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Size</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Color</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Category</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý City</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý District</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Ward</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Client</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Employee</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Gender</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản lý Status</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <!--        <div class="dropdown pb-4">-->
        <!--          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--            <img src="https://media.istockphoto.com/id/960699374/vi/vec-to/bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-avatar-vector-bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-h%E1%BB%93-s%C6%A1-ng%C6%B0%E1%BB%9Di-d%C3%B9ng-nam-trong-h%C3%ACnh-ch%E1%BB%AF-h%C3%ACnh-h%C3%ACnh-ch%E1%BB%AF-m%C3%A0u.jpg?s=612x612&w=is&k=20&c=oO0z0Pj61x7XR4I0aY7xPmQnz5i1HdrMTE5ANHKWADo=" width="30" height="30" class="rounded-circle">-->
        <!--            <span class="d-none d-sm-inline mx-1">Admin</span>-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">-->
        <!--            <li><a class="dropdown-item" href="#">New project...</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Settings</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Profile</a></li>-->
        <!--            <li>-->
        <!--              <hr class="dropdown-divider">-->
        <!--            </li>-->
        <!--            <li><a class="dropdown-item" href="#">Sign out</a></li>-->
        <!--          </ul>-->
        <!--        </div>-->
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Quản lý</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Quản lý Product</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="col py-3">
          <h1 class="mt-2">Quản lý Sản phẩm</h1>
          <div class="row mt-2">
            <nav class="navbar navbar-expand-sm" style="background-color: #eeecec;width: 100%;">
              <div class="container-fluid">
                <a class="navbar-brand" th:href="@{saveproduct(name_search=${name_search})}">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-plus"></i> Thêm mới</button>
                </a>
                <ul class="navbar-nav">
                  <form id="find_comic" method="get" th:action="@{searchproduct}" class="d-flex" style="margin: 10px">
                    <input class="form-control me-2" name="name_search" th:value="${name_search}" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="submit" style="width: 150px;margin-left: 10px"><i class="fas fa-search"></i>Tìm kiếm</button>
                  </form>
                </ul>
              </div>
            </nav>
          </div>
          <div class="container-fluid mt-5">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>STT</th>
                <th>Tên Sản phẩm</th>
                <th>Mã Sản phẩm</th>
                <th>Giá(VND)</th>
                <th>Giá Cũ(VND)</th>
                <th>Số Lượng</th>
                <th>Thương Hiệu</th>
                <th>Danh mục</th>
                <th>Giới tính</th>
                <th>Trạng Thái</th>
                <th>Ảnh</th>
                <th>Mô tả</th>
                <th>Chỉnh sửa</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="product,iterStat:${products}">
                <td th:text="${iterStat.count+ (currentpage - 1)*sizepage}"></td>
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getCode()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getOld_price()}"></td>
                <td th:text="${product.getQuantity()}"></td>
                <td th:text="${product.getBrand().getName()}"></td>
                <td th:text="${product.getCategory().getName()}"></td>
                <td th:text="${product.getGender().getName()}"></td>
                <td th:text="${product.getStatus().getName()}"></td>
                <td><img style="height: 40px" th:src="${product.getImg()}"></td>
                <td th:text="${product.getDetail()}"></td>
                <td>
                  <a th:href="@{updateproduct(id=${product.id},name_search=${name_search})}">
                    <button type="button" class="btn btn-primary btn-sm mb-1">
                      <i class="fas fa-edit"></i> Sửa
                    </button>
                  </a>
                  <a th:href="@{deleteproduct(id=${product.id},name_search=${name_search},page=${currentpage})}" class="remove_product">
                    <button type="button" class="btn btn-danger btn-sm mb-1">
                      <i class="fas fa-trash"></i> Xóa
                    </button>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <!--            <div style="display: flex">-->
            <!--              <ul class="pagination m-1" th:each="i: ${#numbers.sequence(1,totalpages)}">-->
            <!--                <th:block th:switch="${i!=currentpage}">-->
            <!--                  <li class="page-item"><a th:case="true" th:href="@{'/manager?page='+${i}}" style="border-radius: 5px" class="page-link">[[${i}]]</a></li>-->
            <!--                  <li class="page-item active"><a class="page-link" th:case="false" style="border-radius: 5px">[[${i}]]</a></li>-->
            <!--                </th:block>-->
            <!--              </ul>-->
            <!--            </div>-->
            <div style="display: flex">
              <ul class="pagination m-1">
                <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=1'+'&amp;name_search='+${name_search}}" th:if="${currentpage > 1}"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage - 1}+'&amp;name_search='+${name_search}}" th:if="${currentpage > 1}">
                  <i class="fa-solid fa-arrow-left"></i>
                </a></li>
                <th:block th:if="${totalpages > 0}">
                  <th:block th:if="${currentpage > 1}">
                    <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage - 1}+'&amp;name_search='+${name_search}}">[[${currentpage - 1}]]</a></li>
                  </th:block>
                  <li class="page-item active"><a th:href="@{'searchproduct?page=' + ${currentpage}+'&amp;name_search='+${name_search}}" class="page-link">[[${currentpage}]]</a></li>
                  <th:block th:if="${currentpage < totalpages}">
                    <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage + 1}+'&amp;name_search='+${name_search}}">[[${currentpage + 1}]]</a></li>
                  </th:block>
                </th:block>
                <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage + 1}+'&amp;name_search='+${name_search}}" th:if="${currentpage < totalpages}">
                  <i class="fa-solid fa-arrow-right"></i>
                  <!--                                        <i class="fa-solid fa-angle-right"></i>-->
                </a></li>
                <li class="page-item"><a class="page-link" th:href="@{'searchproduct?page=' + ${totalpages}+'&amp;name_search='+${name_search}}" th:if="${currentpage < totalpages}"><i class="fa-solid fa-angles-right"></i></a></li>
              </ul>
            </div>

          </div>
          <div class="container-fluid mt-5">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>STT</th>
                <th>Tên Sản phẩm</th>
                <th>Mã Sản phẩm</th>
                <th>Tất cả Size</th>
                <th>Tất cả Ảnh</th>
                <th>Tất cả Màu</th>
                <th>Chỉnh sửa</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="product,iterStat:${products}">
                <td th:text="${iterStat.count+ (currentpage - 1)*sizepage}"></td>
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getCode()}"></td>
                <td>
                  <div class="item-options">
                    <div class="item-option" th:each="size : ${product.getSizes()}" th:text="${size.getName()}"></div>
                  </div>
                </td>
                <td><img style="height: 40px;margin: 5px" th:each="img : ${product.getImgs()}" th:src="${img.getName()}"></td>
                <td>
                  <div class="item-options">
                    <div class="item-option" th:each="color : ${product.getColors()}" th:style="'background-color:'+${color.getCode()}"></div>
                  </div>
                </td>
                <td>
                  <a th:href="@{updateproduct(id=${product.id},name_search=${name_search})}">
                    <button type="button" class="btn btn-primary btn-sm mb-1">
                      <i class="fas fa-edit"></i> Sửa
                    </button>
                  </a>
                  <a th:href="@{deleteproduct(id=${product.id},name_search=${name_search},page=${currentpage})}" class="remove_product">
                    <button type="button" class="btn btn-danger btn-sm mb-1">
                      <i class="fas fa-trash"></i> Xóa
                    </button>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <div style="display: flex">
              <ul class="pagination m-1">
                <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=1'+'&amp;name_search='+${name_search}}" th:if="${currentpage > 1}"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage - 1}+'&amp;name_search='+${name_search}}" th:if="${currentpage > 1}">
                  <i class="fa-solid fa-arrow-left"></i>
                </a></li>
                <th:block th:if="${totalpages > 0}">
                  <th:block th:if="${currentpage > 1}">
                    <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage - 1}+'&amp;name_search='+${name_search}}">[[${currentpage - 1}]]</a></li>
                  </th:block>
                  <li class="page-item active"><a th:href="@{'searchproduct?page=' + ${currentpage}+'&amp;name_search='+${name_search}}" class="page-link">[[${currentpage}]]</a></li>
                  <th:block th:if="${currentpage < totalpages}">
                    <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage + 1}+'&amp;name_search='+${name_search}}">[[${currentpage + 1}]]</a></li>
                  </th:block>
                </th:block>
                <li class="page-item"><a  class="page-link" th:href="@{'searchproduct?page=' + ${currentpage + 1}+'&amp;name_search='+${name_search}}" th:if="${currentpage < totalpages}">
                  <i class="fa-solid fa-arrow-right"></i>
                  <!--                                        <i class="fa-solid fa-angle-right"></i>-->
                </a></li>
                <li class="page-item"><a class="page-link" th:href="@{'searchproduct?page=' + ${totalpages}+'&amp;name_search='+${name_search}}" th:if="${currentpage < totalpages}"><i class="fa-solid fa-angles-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button)
  $(".remove_product").click(function(){
    return confirm("Bạn có muốn xóa sản phẩm này không?");
  });
</script>
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/chart.js/Chart.min.js"></script>
<script src="/static/plugins/sparklines/sparkline.js"></script>
<script src="/static/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/static/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="/static/plugins/jquery-knob/jquery.knob.min.js"></script>
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/static/plugins/summernote/summernote-bs4.min.js"></script>
<script src="/static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/static/dist/js/adminlte.js"></script>
<script src="/static/dist/js/demo.js"></script>
<script src="/static/dist/js/pages/dashboard.js"></script>
</body>
</html>
