<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Font Awesome -->
<style>
    .shopping__cart__table table tbody tr td.product__cart__item{
        width: 260px;
    }
    .title-no-cart{
        font-size: 20px;
        font-weight: 700;
    }
    .title-no-cart-detail{
        margin-top:10px ;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: 700;
    }
    .back-shop{
        color: red!important;
        text-decoration: none;
    }
    .no-cart{
        text-align: center;
    }
    .shopping__cart__table table tbody tr td.quantity__item{
        width: 115px;
    }
    .pro-qty input{
        width: 50px;
        border: none;
        text-align: center;
        color: #111111;
        font-size: 16px;
    }
    .shop__sidebar__color label:after {
        border-color: black;
    }
    .quantity-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quantity-icon {
        font-size: 24px;
        cursor: pointer;
    }
    .shopping__cart__table table tbody tr td.quantity__item-2 .quantity-2 .pro-qty-show {
        width: 80px;
    }

    .shopping__cart__table table tbody tr td.quantity__item-2 .quantity-2 .pro-qty-show input {
        width: 50px;
        border: none;
        text-align: center;
        color: #111111;
        font-size: 16px;
    }

    .shopping__cart__table table tbody tr td.quantity__item-2 .quantity-2 .pro-qty-show .qtybtn {
        font-size: 16px;
        color: #888888;
        width: 10px;
        cursor: pointer;
    }
    .shopping__cart__table table tbody tr td.quantity__item-2 {
        width: 175px;
    }

    .shopping__cart__table table tbody tr td.quantity__item-2 .quantity-2 .pro-qty-show {
        width: 80px;
    }

    .shopping__cart__table table tbody tr td.quantity__item-2 .quantity-2 .pro-qty-show input {
        width: 50px;
        border: none;
        text-align: center;
        color: #111111;
        font-size: 16px;
    }

    .shopping__cart__table table tbody tr td.quantity__item-2 .quantity-2 .pro-qty-2 .qtybtn {
        font-size: 16px;
        color: #888888;
        width: 10px;
        cursor: pointer;
    }
    .name-login:hover{
        color: white!important;
    }
</style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-7">

                    </div>
                    <div class="col-lg-7 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a  th:href="@{manager}" th:if="${session.roles.contains('ADMIN')}">
                                    <i class="fa-solid fa-wrench"></i>
                                    Trang quản trị</a>
                                <span style="margin-right: 5px">
                                <i class="fa-solid fa-user" style="color: white"></i>
                                </span>
                                <a th:href="@{login}" th:if="${session.customer == null}">
                                    <!--                                    <i class="fa-solid fa-user"></i>-->
                                    Đăng nhập</a>
                                <a class="name-login" style="text-decoration: none" th:if="${session.customer != null}" th:text="${session.customer.username}"></a>
                                <a href="#">
                                    <i class="fa-regular fa-circle-question"></i>
                                    FAQs</a>
                                <a th:href="@{logout}" th:if="${session.customer != null}">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Logout</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a th:href="@{index}"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a th:href="@{index}">Home</a></li>
                            <li class="active"><a th:href="@{shop}">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a th:href="@{about_us}">About Us</a></li>
                                    <li><a th:href="@{shopping_cart}">Shopping Cart</a></li>
                                    <li><a th:href="@{blog_details}">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{blog}">Blog</a></li>
                            <li><a th:href="@{contact}">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
                        <a th:href="@{getsession}">
                            <i class="fa" style="font-size:20px;color: black">&#xf07a;</i>
                            <span style="left: 29px;top: -7px;padding: 1px 4px;" class='badge badge-warning' id='lblCartCount' th:text="${session.count.size()}"></span>
                        </a>
                        <!--                        <span class='badge badge-warning' id='lblCartCount' th:text="${session.count.size()}"> </span>-->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div th:if="${carts.size() != 0}" class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Kích cỡ</th>
                                    <th>Màu</th>
                                    <th>Số lượng</th>
                                    <th>Tổng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cart: ${carts}">
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img style="width: 90px" th:src="${cart.getProductDTO().img}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6 th:text="${cart.getProductDTO().name}"></h6>
                                            <h5 style="font-size: 16px" th:text="${cart.getProductDTO().price}+' VND'"></h5>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="shop__sidebar__size">
                                            <label for="size" th:text="${cart.size}" style="padding: 6px 14px;margin-left: 17px">
                                                <input type="radio" id="size">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="shop__sidebar__color">
                                            <label  class="color-item" th:style="'background-color:'+${cart.code_color}" for="color">
                                                <input type="checkbox" id="color">
                                            </label>
                                        </div>
                                    </td>
                                    <td class="quantity__item-2">
                                        <div class="quantity-2">
<!--                                            <div class="pro-qty-show">-->
<!--                                                <input type="text" th:value="${cart.quantity}" class="quantity-input">-->
<!--                                            </div>-->
                                            <div class="pro-qty-show">
                                                <span class="fa fa-angle-left dec qtybtn"></span>
                                                <input type="text" th:value="${cart.quantity}"  class="quantity-input" readonly>
                                                <input type="text" th:value="${cart.id}" class="cartId" hidden>
                                                <span class="fa fa-angle-right inc qtybtn"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price cart__price-value" th:text="${cart.quantity * cart.productDTO.price}+'VND'"></td>
                                    <td class="cart__close">
                                        <a th:href="@{deletecart(id_cart=${cart.id})}">
                                            <i class="fa fa-close"></i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="no-cart" th:if="${carts.size() == 0}">
                        <img src="/static/img/no_cart/no-cart.png" alt="" style="display:block;margin: 30px auto;text-align: center">
                        <div class="title-no-cart">Bạn chưa có sản phẩm nào.</div>
                        <div class="title-no-cart-detail">Vui lòng chọn <a th:href="@{shop}" class="back-shop">quay lại mua hàng</a> để tiếp tục.</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a th:href="@{shop}">Quay lại mua hàng</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a th:if="${carts.size() != 0}" th:href="@{remove_cart}"><i class="fa fa-spinner"></i> Xóa hết</a>
                                <a th:if="${carts.size() == 0}" style="color: #ccc"><i class="fa fa-spinner"></i> Xóa hết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Mã giảm giá</h6>
                        <form action="#">
                            <input type="text" placeholder="Mã code">
                            <button type="submit">Áp dụng</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Đơn hàng</h6>
                        <ul>
                            <li>Đơn hàng <span th:text="${total_price}+' VND'"></span></li>
                            <li>Tạm tính <span th:text="${total_price}+' VND'"></span></li>
                        </ul>
                        <a th:if="${carts.size() == 0}" style="color:#b1b0b0;" class="primary-btn">Tiếp tục thanh toán</a>
                        <a  th:if="${carts.size() != 0}" th:href="@{checkout}" class="primary-btn">Tiếp tục thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/static/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng tôi, bao gồm cả thiết kế.</p>
                        <a href="#"><img src="/static/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Sản phẩm</h6>
                        <ul>
                            <li><a href="#">Cửa hàng quần áo</a></li>
                            <li><a href="#">Xu hướng</a></li>
                            <li><a href="#">Phụ kiện</a></li>
                            <li><a href="#">Doanh thu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Hỗ trợ</h6>
                        <ul>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Vận chuyển</a></li>
                            <li><a href="#">Trả lại và trao đổi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Đăng kí theo dõi</h6>
                        <div class="footer__newslatter">
                            <p>Hãy là người đầu tiên biết về những người mới đến, sách tìm kiếm, bán hàng và khuyến mãi!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <script>
        function formatPrice(price) {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }
        function updateTotalPrice() {
            var totalPrice = 0;
            $(".shopping__cart__table tbody tr").each(function () {
                // Lấy giá trị quantity và price từ từng cart
                var quantity = parseInt($(this).find(".quantity-input").val());
                var price = parseFloat($(this).find(".product__cart__item__text h5").text().replace(" VND", ""));
                var total = quantity * price;
                $(this).find(".cart__price-value").text(formatPrice(total) + " VND");
                $(this).find(".product__cart__item__text h5").text(formatPrice(price) + " VND")
                totalPrice += total;
            });
            $(".cart__total ul li:nth-child(1) span").text(formatPrice(totalPrice) + " VND");
            $(".cart__total ul li:nth-child(2) span").text(formatPrice(totalPrice) + " VND");
        }
        $(document).ready(function (){
            updateTotalPrice();
            $(".dec").on("click", function () {
                var quantityInput = $(this).closest("tr").find(".quantity-input");
                var currentValue = parseInt(quantityInput.val());
                var id_cart = $(this).closest("tr").find(".cartId").val();
                if (currentValue > 1) {
                    currentValue -= 1;
                    quantityInput.val(currentValue);
                }
                const url = `/changequantitycart?id_cart=${encodeURIComponent(id_cart)}&quantity=${encodeURIComponent(currentValue)}`;
                window.location.href = url;

            });
            $(".inc").on("click", function () {
                var quantityInput = $(this).closest("tr").find(".quantity-input");
                var currentValue = parseInt(quantityInput.val());
                var id_cart = $(this).closest("tr").find(".cartId").val();
                currentValue += 1;
                quantityInput.val(currentValue);
                const url = `/changequantitycart?id_cart=${encodeURIComponent(id_cart)}&quantity=${encodeURIComponent(currentValue)}`;
                window.location.href = url;
            });

        });

    </script>
    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>